.tsBodyControl500Medium { font-size: 16px; font-weight: 600; letter-spacing: 0px; line-height: 24px; }
                        .b25_5_1-a { border-radius: inherit; inset: 0px; opacity: 0; position: absolute; z-index: 1; }
                        .b25_5_1-a0 { -webkit-font-smoothing: antialiased; align-items: center; appearance: none; background: transparent; border: none; border-radius: 12px; box-sizing: border-box; color: inherit; cursor: pointer; display: inline-flex; font-family: var(--mainFont); font-size: inherit; font-weight: inherit; justify-content: center; margin: 0px; overflow: hidden; padding: 10px 16px; position: relative; text-align: center; text-decoration: none; }
                        .b25_5_1-a0 { -webkit-font-smoothing: antialiased; align-items: center; appearance: none; background: transparent; border: none; border-radius: 12px; box-sizing: border-box; color: inherit; cursor: pointer; display: inline-flex; font-family: var(--mainFont); font-size: inherit; font-weight: inherit; justify-content: center; margin: 0px; overflow: hidden; padding: 10px 16px; position: relative; text-align: center; text-decoration: none; }
                        .b25_5_1-a1 { border-radius: 99px; }
                        .b25_5_1-a2 { align-items: center; display: flex; height: 24px; justify-content: center; white-space: nowrap; width: 100%; }
                        .b25_5_1-a2 { align-items: center; display: flex; height: 24px; justify-content: center; white-space: nowrap; width: 100%; }
                        .b25_5_1-a2.b25_5_1-a3 { visibility: hidden; }
                        .b25_5_1-a2.b25_5_1-a3 { visibility: hidden; }
                        .b25_5_1-a4 { align-items: center; inset: 0px; display: flex; justify-content: center; position: absolute; }
                        .b25_5_1-a5 { width: 100%; }
                        .b25_5_1-a5 { width: 100%; }
                        .b25_5_1-a3, .b25_5_1-a6 { cursor: default; }
                        .b25_5_1-a7 .b25_5_1-a2 { justify-content: space-between; }
                        .b25_5_1-a7 .b25_5_1-a2 { justify-content: space-between; }
                        .b25_5_1-a8 { display: flex; flex-direction: column; overflow: hidden; }
                        .b25_5_1-a9 { display: block; }
                        .b25_5_1-a9 { display: block; }
                        .b25_5_1-a9, .b25_5_1-b, .b25_5_1-b0 { overflow: hidden; text-overflow: ellipsis; }
                        .b25_5_1-a9, .b25_5_1-b, .b25_5_1-b0 { overflow: hidden; text-overflow: ellipsis; }
                        .b25_5_1-b2.b25_5_1-a1 { border-radius: 99px; }
                        .b25_5_1-b2 .b25_5_1-a2 { height: 16px; }
                        .b25_5_1-b2 .b25_5_1-a2 { height: 16px; }
                        .b25_5_1-b3 { border-radius: 16px; padding: 16px 24px; }
                        .b25_5_1-b3.b25_5_1-a1 { border-radius: 99px; }
                        .b25_5_1-b3.b25_5_1-a1 { border-radius: 99px; }
                        .b25_5_1-b3.b25_5_1-a7 { padding-right: 12px; }
                        .b25_5_1-b3.b25_5_1-a7 { padding-right: 12px; }
                        .b25_5_1-b3 .b25_5_1-b.b25_5_1-b4 { border-radius: 6px; padding: 4px 8px; }
                        .b25_5_1-b5.b25_5_1-a1 { border-radius: 99px; }
                        .b25_5_1-b5.b25_5_1-a7 { padding-right: 16px; }
                        .b25_5_1-b6 .b25_5_1-a { background-color: var(--textPrimaryDynamic); }
                        .b25_5_1-b7 .b25_5_1-a { background-color: var(--textAction); }
                        .b25_5_1-b8 .b25_5_1-a { background-color: var(--textLightKey); }
                        .b25_5_1-b9 .b25_5_1-a { background-color: var(--textAccent); }
                        .b25_5_1-c .b25_5_1-a { background-color: var(--textNegative); }
                        .b25_5_1-a6 { background-color: var(--bgSecondary); color: var(--textPrimary); }
                        .b25_5_1-a6 .b25_5_1-a9, .b25_5_1-a6 .b25_5_1-b, .b25_5_1-a6 .b25_5_1-b0, .b25_5_1-a6 .b25_5_1-b1 { opacity: 0.4; }
                        .b25_5_1-a6 .b25_5_1-a9, .b25_5_1-a6 .b25_5_1-b, .b25_5_1-a6 .b25_5_1-b0, .b25_5_1-a6 .b25_5_1-b1 { opacity: 0.4; }
                        .b25_5_1-a6 .b25_5_1-b1 { color: var(--graphicTertiary); }
                        .b25_5_1-a6 .b25_5_1-b.b25_5_1-b4 { background-color: var(--clearDarkKey100); }
                        .b25_5_1-a6 .b25_5_1-a { background-color: var(--textPrimary); }
                        .ag5_6_1-a { border-radius: inherit; inset: 0px; opacity: 0; position: absolute; z-index: 1; }
                        .ag5_6_1-a0 { -webkit-font-smoothing: antialiased; align-items: center; appearance: none; background: transparent; border: none; border-radius: 12px; box-sizing: border-box; color: inherit; cursor: pointer; display: inline-flex; font-family: var(--mainFont); font-size: inherit; font-weight: inherit; height: 44px; justify-content: center; margin: 0px; min-width: 44px; padding: 0px; position: relative; text-decoration: none; transition: transform 0.1s cubic-bezier(0.55, 0, 1, 0.45); white-space: normal; }
                        .ag5_6_1-a0 { -webkit-font-smoothing: antialiased; align-items: center; appearance: none; background: transparent; border: none; border-radius: 12px; box-sizing: border-box; color: inherit; cursor: pointer; display: inline-flex; font-family: var(--mainFont); font-size: inherit; font-weight: inherit; height: 44px; justify-content: center; margin: 0px; min-width: 44px; padding: 0px; position: relative; text-decoration: none; transition: transform 0.1s cubic-bezier(0.55, 0, 1, 0.45); white-space: normal; }
                        .ag5_6_1-a1 { border-radius: 8px; height: 24px; min-width: 24px; }
                        .ag5_6_1-a2 { border-radius: 10px; height: 32px; min-width: 32px; }
                        .ag5_6_1-a3 { height: 40px; min-width: 40px; }
                        .ag5_6_1-a4 { border-radius: 16px; height: 56px; min-width: 56px; }
                        .ag5_6_1-a4 { border-radius: 16px; height: 56px; min-width: 56px; }
                        .ag5_6_1-a5 { border-radius: 20px; height: 72px; min-width: 72px; }
                        .ag5_6_1-a6 { border-radius: 50%; }
                        .ag5_6_1-a7 { background-color: var(--bgActionPrimary); color: var(--graphicPrimaryOnDark); }
                        .ag5_6_1-a7 .ag5_6_1-a { background-color: var(--graphicPrimaryOnDark); }
                        .ag5_6_1-a8 { background-color: var(--bgActionSecondary); color: var(--graphicActionPrimary); }
                        .ag5_6_1-a8 .ag5_6_1-a { background-color: var(--graphicActionPrimary); }
                        .ag5_6_1-a9 { background-color: var(--bgAccentPrimary); color: var(--graphicPrimaryOnDark); }
                        .ag5_6_1-a9 .ag5_6_1-a { background-color: var(--graphicPrimaryOnDark); }
                        .ag5_6_1-b .ag5_6_1-a { background-color: var(--graphicAccentPrimary); }
                        .ag5_6_1-b0 .ag5_6_1-a { background-color: var(--graphicNegativePrimary); }
                        .ag5_6_1-b1 .ag5_6_1-b2 { opacity: 0.4; }
                        .ag5_6_1-b1 .ag5_6_1-a { background-color: var(--graphicTertiary); }
                        .ea5_3_12-a { display: inline-flex; }
                        .ea5_3_12-a.ea5_3_12-a0 { display: block; }
                        .ea5_3_12-a1 { color: var(--textLightKey); display: inline-block; opacity: 0; transition: opacity 0.5s; will-change: transform; z-index: 500; }
                        .ea5_3_12-a2 { border-radius: 16px; box-sizing: border-box; max-height: inherit; overflow-y: auto; padding: 12px; position: relative; }
                        .ea5_3_12-a2.ea5_3_12-a3 { padding-right: 32px; }
                        .ea5_3_12-a2 .ea5_3_12-a4 { cursor: pointer; position: absolute; right: 8px; top: 8px; }
                        .ea5_3_12-a5, .ea5_3_12-a6 { max-width: 100%; }
                        .ea5_3_12-a6 { width: max-content; }
                        .ea5_3_12-a7 { width: 100%; }
                        .ea5_3_12-a7.ea5_3_12-a8 { width: auto; }
                        .ea5_3_12-a9 { display: flex; height: 7px; width: 16px; }
                        .ea5_3_12-b + .ea5_3_12-a9 { color: var(--bgLightKey); }
                        .ea5_3_12-b2 + .ea5_3_12-a9 { color: var(--layerFloor0Inverted); }
                        [data-popper-placement^="top"] .ea5_3_12-a9 { top: 100%; }
                        [data-popper-placement^="bottom"] .ea5_3_12-a9 { bottom: 100%; transform: rotate(180deg); }
                        [data-popper-placement^="left"] .ea5_3_12-a9 { left: calc(100% - 5px); transform: rotate(-90deg); }
                        [data-popper-placement^="right"] .ea5_3_12-a9 { right: calc(100% - 5px); transform: rotate(90deg); }
                        .q6b3_0_4-a { display: inline-block; }
                        .q6b3_0_4-a0 { font-weight: 700; }
                        .q6b3_0_4-a1 { font-weight: 500; }
                        .q6b3_0_4-a1 { font-weight: 500; }
                        .q6b3_0_4-a2, .q6b3_0_4-a3 { color: rgba(0, 26, 52, 0.6); }
                        .q6b3_0_4-a3 { font-size: 14px; line-height: 18px; }
                        .q6b3_0_4-a4, .q6b3_0_4-a5 { color: rgba(0, 26, 52, 0.6); font-weight: 500; }
                        .q6b3_0_4-a5 { font-size: 14px; line-height: 18px; }
                        .q6b3_0_4-a6, .q6b3_0_4-a7 { color: rgb(241, 17, 126); }
                        .q6b3_0_4-a7 { font-size: 14px; line-height: 18px; }
                        .q6b3_0_4-a8 { font-weight: 500; }
                        .q6b3_0_4-a8, .q6b3_0_4-a9, .q6b3_0_4-b, .q6b3_0_4-b0 { color: rgb(16, 196, 76); }
                        .pdp_ba6 { position: relative; }
                        .pdp_ba6 .pdp_b6a { background-color: var(--clearLightKey800); content: ""; display: block; height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; z-index: 1; }
                        .pdp_ba6 .pdp_b6a .pdp_ab7 { left: 50%; position: absolute; top: 50%; transform: translate(-50%, -50%); z-index: 2; }
                        .pdp_ba6 .pdp_b6a .pdp_a7b { color: var(--bgActionPrimary); }
                        .pdp_ag8 { margin: -5px; max-width: 100%; padding: 5px; z-index: 1; }
                        .pdp_a8g:not(.pdp_ga8, .pdp_g8a) + .pdp_a8g { margin-top: 24px; }
                        .pdp_ag9.pdp_g8a { display: block; margin-left: 0px; max-width: none; width: 100%; }
                        .pdp_ag9.pdp_g8a + .pdp_g8a { margin-top: 24px; }
                        .pdp_a1g { flex-shrink: 0; overflow: hidden; }
                        .pdp_ga1 { width: 100%; }
                        .pdp_ag2, .pdp_g1a { color: var(--textPrimaryInverted); }
                        .pdp_s8a { align-items: flex-start; background: transparent; display: flex; flex-flow: row; justify-content: flex-start; }
                        .pdp_s8a.pdp_as9 { margin: 0px auto; max-width: 1472px; }
                        .pdp_s8a.pdp_a9s { background: var(--layerFloor1); }
                        .pdp_s8a.pdp_sa9 { flex-wrap: wrap-reverse; }
                        .pdp_s8a.pdp_s9a { flex-wrap: wrap; }
                        .pdp_s8a.pdp_at { flex-shrink: 0; }
                        .pdp_s8a.pdp_ta { flex-grow: 1; }
                        .pdp_s8a.pdp_at0 { justify-content: flex-end; }
                        .pdp_s8a.pdp_a0t { justify-content: center; }
                        .pdp_s8a.pdp_ta0 { justify-content: space-between; }
                        .pdp_s8a.pdp_t0a { justify-content: space-around; }
                        .pdp_s8a.pdp_at1 { justify-content: stretch; }
                        .pdp_s8a.pdp_a1t { align-items: center; }
                        .pdp_s8a.pdp_ta1 { align-items: flex-end; }
                        .pdp_s8a.pdp_t1a { align-items: stretch; }
                        .pdp_s8a.pdp_at2 { column-gap: 2px; }
                        .pdp_s8a.pdp_a2t { column-gap: 4px; }
                        .pdp_s8a.pdp_ta2 { column-gap: 8px; }
                        .pdp_s8a.pdp_ta2 { column-gap: 8px; }
                        .pdp_s8a.pdp_t2a { column-gap: 12px; }
                        .pdp_s8a.pdp_at3 { column-gap: 16px; }
                        .pdp_s8a.pdp_a3t { column-gap: 20px; }
                        .pdp_s8a.pdp_ta3 { column-gap: 24px; }
                        .pdp_s8a.pdp_t3a { column-gap: 32px; }
                        .pdp_s8a.pdp_at4 { column-gap: 40px; }
                        .pdp_s8a.pdp_a4t { column-gap: 48px; }
                        .pdp_s8a.pdp_ta4 { column-gap: 56px; }
                        .pdp_s8a.pdp_t4a { flex-direction: column; }
                        .pdp_s8a.pdp_t4a.pdp_at2 { row-gap: 2px; }
                        .pdp_s8a.pdp_t4a.pdp_a2t { row-gap: 4px; }
                        .pdp_s8a.pdp_t4a.pdp_ta2 { row-gap: 8px; }
                        .pdp_s8a.pdp_t4a.pdp_ta2 { row-gap: 8px; }
                        .pdp_s8a.pdp_t4a.pdp_t2a { row-gap: 12px; }
                        .pdp_s8a.pdp_t4a.pdp_at3 { row-gap: 16px; }
                        .pdp_s8a.pdp_t4a.pdp_a3t { row-gap: 20px; }
                        .pdp_s8a.pdp_t4a.pdp_ta3 { row-gap: 24px; }
                        .pdp_s8a.pdp_t4a.pdp_t3a { row-gap: 32px; }
                        .pdp_s8a.pdp_t4a.pdp_at4 { row-gap: 40px; }
                        .pdp_s8a.pdp_t4a.pdp_a4t { row-gap: 48px; }
                        .pdp_s8a.pdp_t4a.pdp_ta4 { row-gap: 56px; }
                        .pdp_s8a.pdp_at5 { margin-left: -16px; margin-right: -16px; }
                        .pdp_a0g .pdp_ga0 { font-size: 14px; line-height: 18px; }
                        .pdp_ba6 { position: relative; }
                        .pdp_ba6 .pdp_b6a { background-color: var(--clearLightKey800); content: ""; display: block; height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; z-index: 1; }
                        .pdp_ba6 .pdp_b6a .pdp_ab7 { left: 50%; position: absolute; top: 50%; transform: translate(-50%, -50%); z-index: 2; }
                        .pdp_ba6 .pdp_b6a .pdp_a7b { color: var(--bgActionPrimary); }
                        .pdp_f5a button span { transition: none !important; }
                        .pdp_f5a.pdp_af6 button span { background-color: var(--layerFloor0Inverted); color: var(--textPrimaryInverted); }
                        .pdp_f5a.pdp_af6:hover button:not([disabled]) span { background-color: var(--bgActivePrimaryInverted); }
                        .pdp_a7f { display: flex; flex-shrink: 0; font-size: 12px; justify-content: center; letter-spacing: 0.2px; line-height: 16px; }
                        .pdp_a6f { padding-top: 8px; text-align: center; }
                        .pdp_a6f:empty { padding-top: 0px; }
                        .pdp_a6f.pdp_fa6 { padding-top: 6px; }
                        .pdp_a6f.pdp_f6a { min-height: 16px; }
                        .pdp_a6f .pdp_af7 { color: var(--bgActionPrimary); }
                        .pdp_fa7 { width: 100%; }
                        .pdp_fa7 .pdp_f7a { position: relative; width: 100%; }
                        .pdp_fa7 .pdp_f7a { position: relative; width: 100%; }
                        .pdp_fa7 .pdp_af8 { pointer-events: none; position: absolute; right: 0px; top: 0px; transform: translateY(-50%); z-index: 1; }
                        .pdp_fa7 .pdp_a8f .pdp_fa8 { margin-top: 6px; }
                        .pdp_f9a { min-width: 0px; position: relative; width: 100%; }
                        .pdp_f9a .pdp_ag { padding-left: 8px; padding-right: 8px; }
                        .pdp_f9a .pdp_ag { padding-left: 8px; padding-right: 8px; }
                        .pdp_ga { width: 100%; }
                        .pdp_ag0 { color: var(--textPrimaryInverted); cursor: pointer; }
                        .pdp_ba6 { position: relative; }
                        .pdp_ba6 .pdp_b6a { background-color: var(--clearLightKey800); content: ""; display: block; height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; z-index: 1; }
                        .pdp_ba6 .pdp_b6a .pdp_ab7 { left: 50%; position: absolute; top: 50%; transform: translate(-50%, -50%); z-index: 2; }
                        .pdp_ba6 .pdp_b6a .pdp_a7b { color: var(--bgActionPrimary); }
                        .pdp_ba6 { position: relative; }
                        .pdp_ba6 .pdp_b6a { background-color: var(--clearLightKey800); content: ""; display: block; height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; z-index: 1; }
                        .pdp_ba6 .pdp_b6a .pdp_ab7 { left: 50%; position: absolute; top: 50%; transform: translate(-50%, -50%); z-index: 2; }
                        .pdp_ba6 .pdp_b6a .pdp_a7b { color: var(--bgActionPrimary); }
                        .pdp_ba6 { position: relative; }
                        .pdp_ba6 .pdp_b6a { background-color: var(--clearLightKey800); content: ""; display: block; height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; z-index: 1; }
                        .pdp_ba6 .pdp_b6a .pdp_ab7 { left: 50%; position: absolute; top: 50%; transform: translate(-50%, -50%); z-index: 2; }
                        .pdp_ba6 .pdp_b6a .pdp_a7b { color: var(--bgActionPrimary); }
                        .pdp_ba6 { position: relative; }
                        .pdp_ba6 .pdp_b6a { background-color: var(--clearLightKey800); content: ""; display: block; height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; z-index: 1; }
                        .pdp_ba6 .pdp_b6a .pdp_ab7 { left: 50%; position: absolute; top: 50%; transform: translate(-50%, -50%); z-index: 2; }
                        .pdp_ba6 .pdp_b6a .pdp_a7b { color: var(--bgActionPrimary); }
                        .pdp_a9g.pdp_ga9 { margin: 0px 0px 20px; max-width: 380px; }